@font-face {
  font-family: 'Cloister Black';
  src: url('/fonts/cloister-black/CloisterBlack.ttf') format('truetype');
  font-weight: 400; /* the TTF you have is regular weight */
  font-style: normal;
  font-display: swap; /* avoids FOIT */
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#root {
  padding: 0;
}
